# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Env
.env
.env.local

# BD (no commitear datos reales)
*.db
*.db-shm
*.db-wal

# Editor / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
